.list
	font checkboxes-label
	display flex
	flex-flow column wrap
	height 260px

	+below(5)
		height 375px

	+below(3)
		margin 0 0 0 15%

	+below(2)
		margin 0
		height 500px

	+below(1)
		height 100%

	&__item
		margin 3.1px 5.4% 5px 0.8%
