include ../header/header
include ../point/point
include ../optional-info/optional-info
include ../js-level/js-level
include ../subject-info/subject-info
include ../future-plans/future-plans
include ../filling-date/filling-date

mixin index()
	+header
	main.index
		section.index__about-me
			+point(getData('about-me'))
		//section.optional-info
		//include ../optional-info/optional-info
		+optional-info(getData('optional-info'))
		+js-level(getData('indicator-values'))
		+subject-info
		include ../future-plans/future-plans
		+filling-date
		block
