.subject-info
	margin 0 0 42px 0
	+below(2)
		margin 0 0 10px 0px
	&__caption
		font block-title-text
		font-weight bold
		color main-font-color
		margin 0 0 11px 5px
	&__description
		font description-text
		color description-text-color
		line-height 1.5em
		margin 0 0 15px 0.5%
		width 99%
		+below(5)
			text-align justify
	&__text
		background transparent url('../../images/textarea-row.png') repeat
		border none
		width 100%
		overflow hidden
		font-weight bold
		font input-text
		padding 10px 0 0 6px
		line-height 60px
		display block
		min-height 130px
