.subject-info
	&__caption
		font block-title-text
		font-weight bold
	&__description
		font description-text
		color description-text-color
		line-height 1.5em
		margin 0 0 3.2% 0
	&__text
		background transparent url('../../images/textarea-row.png') repeat
		border none
		width 100%
		overflow hidden
		font-weight bold
		font input-text
		padding 10px 0 0 0
		line-height 60px
		display block
		//box-sizing padding-box
		min-height 130px
