.future-plans
	&__caption
		font block-title-text
		font-weight bold
	&__description
		font description-text
		color description-text-color
		line-height 1.5em
		margin 0 0 3.2% 0
	&__point
		font radio-label
		cursor pointer
		margin 3.5px 5.8% 4.5px 0.5%
		text-shadow 0px 1px black
	&__answer
		display none
		+label:before
			content ''
			display inline-block
			height 26px
			width 26px
			background url("../../images/icon-sprite.png") no-repeat
			position relative
			top 5px
			left -5px
		&:checked + label:before
			background-position 0 0
		&:not(checked) + label:before
			background-position -36px 0
