.optional-info
	&__caption
		font block-title-text
		font-weight bold
		margin 0 0 9px 0
	&__description
		font description-text
		color description-text-color
		line-height 1.5em
		margin 0 0 3.2% 0

.options-block
	font checkboxes-label
	display flex
	flex-flow column wrap
	height 260px
	&__option
		font-weight: bold;
		cursor pointer
		margin 3.5px 5.8% 4.5px 0.5%
		text-shadow 0px 1px black
	&__checkbox
		display none
		+label:before
			content ''
			display inline-block
			height 18px
			width 20px
			background url("../../images/icon-sprite.png") no-repeat
			position relative
			background-position -100px 0
		&:checked + label:before
			background-position -72px 0
