.optional-info
	display flex
	&__caption
		font block-title-text
		font-weight bold
		margin 0 0 1% 0
	&__description
		font description-text
		color description-text-color
		line-height 1.5em
		margin 0 0 3.2% 0

.options-block
	font checkboxes-label
	display flex
	flex-flow column wrap
	height 200px
	&__option
		font-weight bold
		float right
	&__checkbox
		float left
