.optional-info
	&__caption
		font block-title-text
		font-weight bold
		margin 0 0 1% 0
	&__description
		font description-text
		color description-text-color
		line-height 1.5em
		margin 0 0 3.2% 0

.options-block
	font checkboxes-label
	display flex
	flex-flow column wrap
	height 260px
	&__option
		font-weight: bold;
		cursor pointer
		&:before
			content ''
			display inline-block
			height 18px
			width 20px
			background url("../images/input-states.png") no-repeat
			position relative
			background-position 0 0
		&:checked
			&:before
				background-position -30px 0
	&__checkbox
		display none
		//&-disable:checked + label
		//	&:before
		//		background-position -30px 0
