@font-face {
  font-family: 'courier_newregular';
  src: url('cour-webfont.woff2') format('woff2'),
		  url('cour-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'courier_newbold';
  src: url('courbd-webfont.woff2') format('woff2'),
		  url('courbd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'courier_newbold_italic';
  src: url('courbi-webfont.woff2') format('woff2'),
		  url('courbi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'courier_newitalic';
  src: url('couri-webfont.woff2') format('woff2'),
		  url('couri-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pt_sansregular';
  src: url('pts55f-webfont.woff2') format('woff2'),
		  url('pts55f-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pt_sansitalic';
  src: url('pts56f-webfont.woff2') format('woff2'),
		  url('pts56f-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sansbold';
  src: url('pts75f-webfont.woff2') format('woff2'),
		  url('pts75f-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pt_sansbold_italic';
  src: url('pts76f-webfont.woff2') format('woff2'),
		  url('pts76f-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

