header.file-header
	.header-logos
		a.header-logos__csssr(href='http://csssr.ru/')
			img(src='images/logo.png' alt='Космический фронтенд - CSSSR')
		img.header-logos__filled-by-me(src='images/filled_by_me.png' alt='Заполнено собственноручно')
	.header-title
		img(src='images/file.png' alt='Дело')

