header(class='file-header')
	div(class='header-logos')
		a(class='header-logos__csssr' href='http://csssr.ru/')
			img(src='assets/images/logo.png' alt='Космический фронтенд - CSSSR')
		img(class='header-logos__filled-by-me' src='assets/images/filled_by_me.png' alt='Заполнено собственноручно')
	div(class='header-title')
		img(src='assets/images/file.png' alt='Дело')

