- var personalInfoLabel = ['Полное ФИО', 'Год рождения', 'Место жительства', 'Скайп', 'Почта'];
- var personalInfoValue = ['Гаричев Евгений Сергеевич', '1991', 'г.Житомир, Украина', 'eugene.garichev', 'eugene.garichev@gmail.com'];


mixin about-me(question, answer)
	fieldset.about-me
		- for (var i = 0; i < personalInfoValue.length; i++) {
			label.point #{question[i]}
				input.point__answer(value='#{answer[i]}')
		- }

+about-me(personalInfoLabel, personalInfoValue)
