.about-me
	display flex
	&__point
		display flex
		justify-content center
		align-items center
		font label-text
		color main-font-color
	&__answer
		font input-text
		color input-text-color
		background-color transparent
		border-style: solid
		border-width: 0px 27px 4px
		border-image: shabby-brown-line
