- var indicatorValues = ['Не владею','Использую готовые решения','Использую готовые решения и умею их переделывать','Пишу сложный JS с нуля']

mixin generateIndicatorValues(indicator)
	fieldset.js-level
		legend.js-level__caption Уровень владения JavaScript
		input.js-level__switch#skills(type='range' min = 0 max = 10 value=5 list='skills_list')
		.js-level__indicator#skills_list
			- for (var i = 0; i < indicator.length; i++) {
			.js-level__value #{indicator[i]}
			- }

+generateIndicatorValues(indicatorValues)
